* {
    /* outline: 1px solid red; */
}

* {
    padding: 0;
    margin: 0;
}




#calculator {

    display: flex;
    width: 20%;
    background-color: rgb(57, 55, 55);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    flex-direction: column;

}

#display {

    background-color: rgb(57, 55, 55);
    color: white;
    font-size: 40px;
    height: 20%;
    padding: 25px 25px 25px 25px;
    text-align: right;

}


.row {

    display: flex;
    justify-content: space-evenly;
}

.row button {

    background-color: rgb(103, 101, 101);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: white;
    margin: 15px 15px 15px 15px;
    font-size: large;
}

.row .operator {

    background-color: rgb(223, 184, 88);
}

#equals {
    width: 100%;
    border-radius: 25px;
    background-color: rgb(226, 221, 221);
    color: black;
}